{{ template "_internal/google_analytics.html" . }}
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.cookie.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

<script src="{{ .Site.BaseURL }}js/init.js"></script>
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2FgtoLUEcSGCIyXTk9C7-v7FNj0_Bpko" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}js/hpneo.gmaps.js"></script>
<script src="{{ .Site.BaseURL }}js/gmaps.init.js"></script>
